
﻿@{
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}

<link rel="stylesheet" href="~/css/new-detail.css" />
<link rel="stylesheet" href="~/css/new-detail-utilities.css" />

<div class="new-detail-container" data-news-id="@ViewBag.Id">
    <div class="new-detail-grid">
        <!-- Main Content Area -->
        <div class="main-content">
            <!-- Content Section -->
            <div class="content-section">
                <h1 class="news-title titleId">
                    <!-- Title will be populated by JavaScript -->
                </h1>
                
                <div class="news-meta">
                    <span class="author-name"><span class="areaId"></span></span>
                    <span class="update-time">Cập nhật: <span class="timeAgoId"></span></span>
                </div>
                
                <div class="news-content">
                    <p><span class="contentId"></span></p>
                    <div class="news-summary">
                        <span class="summaryId"></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sidebar -->
        <div class="sidebar">
            <h3 class="sidebar-title">Tin mới đăng</h3>
            <div class="news-list" id="listNew">
                <!-- News items will be populated by JavaScript -->
            </div>
        </div>
    </div>
</div>

@* <script src="~/js/propertyService.js"></script> *@
<script src="~/js/Home/new-detail.js"></script>
